.logo img{
  /* font-size: xx-large;
  font-family: Proxima Nova; */
  height: 50px;
  margin-left: 10px;
  object-fit: contain;
  
}
.story {
  display: flex;
  overflow: scroll ;
}
.story label {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.story-container {
  background-color: black;
  height: 100vh;
}
.story::-webkit-scrollbar {
  display: none;
}
.story-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: small;
}
.story-box {
  max-width: min-content;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  background-clip: padding-box;
  border: solid px transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}
.story-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(to right, orange, purple);
}
.story-box-seen {
  max-width: min-content;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  background-clip: padding-box;
  border: solid px transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}
.story-box-seen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: gray;
}

.story-image{
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
}
.story-user {
  width: 25px;
  height: 25px;
}
.story-mode {
  height: 97vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.story-photo {
  width: 100%;
  /* contain: content; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross {
  font-size: xx-large;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}
.floating-buttons {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.minus {
  margin :0 10px;

}